.App {
  text-align: center;
}






.products{
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  margin: 20px;
}
.products div{
  padding: 50px;
  margin: 20px;
  border:2px solid  black;
}

button{
  padding: 5px;
  margin: 10px;
}